/*
 * Alert Icons
 */

@import "alert-icons/*.png";

.alertIcon {
	@include alert-icons-sprite(alert-orange);
	display: inline-block;
	float: left;
	height: 20px;
	margin: 2px 8px 2px 0px;
	width: 20px;

	&.emergency {
		@include alert-icons-sprite(emergency-red);

		&.black {
			@include alert-icons-sprite(emergency-black);
		}
		&.red {
			@include alert-icons-sprite(emergency-red);
		}
		&.orange {
			@include alert-icons-sprite(emergency-orange);
		}
		&.yellow {
			@include alert-icons-sprite(emergency-yellow);
		}
	}

	&.warning {
		@include alert-icons-sprite(warning-yellow);

		&.black {
			@include alert-icons-sprite(warning-black);
		}
		&.red {
			@include alert-icons-sprite(warning-red);
		}
		&.orange {
			@include alert-icons-sprite(warning-orange);
		}
		&.yellow {
			@include alert-icons-sprite(warning-yellow);
		}
	}

	&.alert {
		@include alert-icons-sprite(alert-orange);

		&.black {
			@include alert-icons-sprite(alert-black);
		}
		&.red {
			@include alert-icons-sprite(alert-red);
		}
		&.orange {
			@include alert-icons-sprite(alert-orange);
		}
		&.yellow {
			@include alert-icons-sprite(alert-yellow);
		}
	}
}