/*
 * Imitate header classes.
 */
.h1 {
	@extend h1;

	display: block;
}
.h2 {
	@extend h2;

	display: block;
}
.h3 {
	@extend h3;

	display: block;
	margin: .5em 0 .2em;
}
.h4 {
	@extend h4;

	display: block;
}
.h5 {
	@extend h5;

	display: block;
}
.h6 {
	@extend h6;

	display: block;
}

/*
 * List classes
 */

ul.plain-list,
ul.tabbed {
	list-style: none;
	margin-top: 0;
	position: relative;
	padding: 0px;

	li {
		list-style: none;
		margin-top: 0;
		position: relative;
	}
}
ul.tabbed {
	display: block;
	margin: 0;

	li {
		float: left;
		margin: 0px;

	}
	
	a {
		display: inline-block;
		padding: 4px 8px;
	}
}
ul.plain-list {
	margin: 0;
}

@media screen and (max-width: $media-mobile-max) {
	ul.mobile-plain-list,
	ul.mobile-tabbed {
		list-style: none;
		margin-top: 0;
		position: relative;
		padding: 0px;

		li {
			list-style: none;
			margin-top: 0;
			position: relative;
		}
	}
	ul.mobile-tabbed {
		display: block;
		margin: 0;

		li {
			float: left;
			margin: 0px;

		}
		
		a {
			display: inline-block;
			padding: 4px 8px;
		}
	}
	ul.mobile-plain-list {
		margin: 0;
		
		li {
			float: none;
			margin-bottom: 2px;
		}
		
		a {
			display: inline;
			padding: 0px;
		}
	}
}


/*
* Color classes
*/

.orangeText {
	color: #FF7E00;

	&.a, a {
		color: #FF7E00;
	}
	&.a:hover, a:hover {
		color: lighten(#FF7E00, 10%);
	}
}

/*
 * Message classes (warning/error/notice)
 */

span.error,
span.warning,
span.notice {
	display: block;
}

.error {
	background-color: #fee5e5;
	border: 1px solid #E60000;
	@include border-radius(4px);
	padding: 10px 14px;

	title {
		@extend strong;
	}
}
.warning {
	background-color: #ffffe0;
	border: 1px solid #e6db55;
	@include border-radius(4px);
	padding: 10px 14px;
}
.notice {
	background-color: #e7f4e1;
	border: 1px solid #5cb529;
	@include border-radius(4px);
	padding: 10px 14px;
}

.infotitle,
.errortitle { 
	@extend strong;
}

/*
 * General Use text classes
 */

.textright {
	text-align: right;
}
.textcenter {
	text-align: center;
}
.textleft {
	text-align: left;
}

.strong {
	@extend strong;
}