/*
 * Dropdown Menu
 */

.dropdown  {
	ul {
		position: relative;
	}

	ul ul {
		background-color: $menu-submenu-background;
		@include border-radius(0px 0px 3px 3px);
		color: $menu-submenu-text;

		margin: -1px 0 0;
		min-width: 100%;
		padding: 0;
		position: absolute;
		top: 102%;
		left: -9999px;
		z-index: 9;
	}

	li {
		margin-right: 10px;
		position: relative;

		> ul {
			border-color: lighten($menu-background, 10%) darken($menu-background, 10%) darken($menu-background, 10%) lighten($menu-background, 10%);
			border-style: solid;
			border-width: 0px 1px 1px 1px;
			box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
		}

		a {
			background-color: $menu-background;
			border: 1px solid $menu-background;
			border-width: 1px 1px 0px 1px;
			@include border-radius(2px 2px 0px 0px);
			@include box-shadow(0 1px 3px transparentize($header-background,0.4) inset, 0px 0px 4px rgba(50,50,50,0.1));
			color: $menu-text;

			display: block !important;
			margin: 0 1px -4px 0;
			padding: 5px 10px 8px;
			position: relative;
			text-decoration: none;
			text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
			white-space: nowrap;

			&:hover {
				background-color: $menu-highlight-background;
				@include border-radius(2px 2px 0px 0px);
				@include box-shadow(0 1px 3px darken($menu-highlight-background, 12%) inset, 0px 0px 4px rgba(50,50,50,0.1));
				color: $menu-current-text;
				text-decoration: underline;
			}
		}

		&:hover > ul {
			left: -1px;
		}
	}
	
	.sub-menu {

		li.menu-item-has-children:hover > ul {
			left: 100%;
			position: absolute;
			top: 0px;
		}
		li {
			// border-top: 1px solid #ced28f;
			margin: 0;
			float: none;
		}

		a {
			padding: 8px 20px;
		}
		li:hover > a {
			background-color: #fffffa;
		}
	}

	li.current-menu-item a,
	li.menu-item-has-children:hover a {
		background-color: $menu-current-background;
		@include box-shadow(0 1px 3px darken($menu-highlight-background, 12%) inset, 0px 0px 4px rgba(50,50,50,0.1));
		color: $menu-current-text;
		font-weight: bold;
		z-index: 100;
	}

	li.current-menu-item > a,
	.topMenu > li.current-menu-ancestor > a {
		z-index: 100;
	}
}

@media screen and (max-width: $media-mobile-max) {
	.dropdown {
		ul {
		}

		ul ul {
		}

		li {
			text-align: center;
			width: 50%;

			> ul {
			}

			a {
				border-width: 1px;
				@include border-radius(2px);

				margin: 0 1px 1px 0;
				padding: 5px 10px 5px;
				&:hover {
				}
			}

			&:hover > ul {
			}
		}
		
		.sub-menu {

			li.menu-item-has-children:hover > ul {
			}
			li {
			}

			a {
			}
			li:hover > a {
			}
		}

		li.current-menu-item a,
		li.menu-item-has-children:hover a {
		}

		li.current-menu-item > a,
		.topMenu > li.current-menu-ancestor > a {
		}
	}
}
