label {
	margin-right: 4px;
	vertical-align: top;
}
label:empty {
	display: none;
}
label a {
	margin-left: 2px;
}
.textInput,
a.button,
a.button:visited,
input,
button,
textarea,
select,
input[type="text"],
input[type="password"],
input[type="file"],
input[type="email"] {
	background-color: $input-bgc;
	@include border-radius(3px);
	border: 1px solid $input-border;
	color: $input-color;

	font-size: 13px;
	line-height: 17px;

	padding: 0px 6px 1px;
	margin: 5px 0px 0px;
	vertical-align: top;
}

.textInput:focus,
input:focus,
button:focus,
textarea:focus,
select:focus {
	background-color: lighten($input-bgc, 7%);
	border: 1px solid darken($input-border, 15%);
}

.textInput,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
	padding: 5px 10px 6px;
	
	@include input-placeholder {
		color: #6b6b6b;
	}
}

input[type="radio"],
input[type="checkbox"] {
	background: transparent;
	border: 0 none;
}

.buttonInput,
a.button,
a.button:visited,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $input-action-bgc;
	border: 1px solid $input-action-border;
	// @include box-shadow(0px 1px 0px lighten($input-action-bgc, 30%) inset, 0px 1px 0px rgba(0, 0, 0, 0.15) );
	@include box-shadow(0px 1px 0px lighten($input-action-bgc, 30%) );
	color: $input-color-action;

	display: inline-block;
	margin: 4px 2px 15px 0px;
	padding: 5px 10px 6px;

	&:hover {
		background: lighten($input-action-bgc, 5%);
		border: 1px solid $input-action-border;
		@include box-shadow(0px 1px 0px lighten($input-action-bgc, 35%) inset, 0px 1px 0px rgba(0, 0, 0, 0.15) );
		color: $input-color-action;
	}

	&.secondary {
		background: $input-bgc;
		border-color: $input-border;
		@include box-shadow(0px 1px 0px lighten($input-bgc, 30%) inset, 0px 1px 0px rgba(0, 0, 0, 0.1) );
		color: $input-color;

		&:hover {
			background: lighten($input-bgc, 5%);
			border-color: $input-border;
			@include box-shadow(0px 1px 0px lighten($input-bgc, 35%) inset, 0px 1px 0px rgba(0, 0, 0, 0.1) );
			color: $input-color;
		}
	}

	&.small {
		padding: 2px 5px;
	}

	&[disabled] {
		background: #d0d0d0;
		border-color: #d9d9d9;
		@include box-shadow(0px 1px 0px lighten(#d0d0d0, 30%) inset, 0px 1px 0px rgba(0, 0, 0, 0.1) );
		color: #878787;

		&:hover {
			background: #d0d0d0;
			border-color: #d9d9d9;
			@include box-shadow(0px 1px 0px lighten(#d0d0d0, 30%) inset, 0px 1px 0px rgba(0, 0, 0, 0.1) );
			color: #878787;
		}
	}

	table & {
		margin-bottom: 4px;
	}
}
