/* 
 * IE style sheet.
 */

.lt-ie10 {
	
	body {
	//
	// Keep the layout from going too narrow.
	//
	  min-width: $media-mobile-max;
	}

	.screen-reader-text {
		line-height: 15px;
		font-weight: bold;

		clip: auto;
		margin-left: 4px;
		position: relative;
	}
	select,
	textarea,
	input[type=text],
	input[type=password] {
		margin-top: 0px;
	}
	a.button,
	button,
	input[type=submit],
	input[type=button] {
		margin-top: 19px;
	}

}