/*
 * Layout related styles
 */

// Spacing (margin/padding) classes
$spacing-classes:
	// (class-prefix, css-style-tag, value-start, value-increment, value-stop)
	(m, margin, 0, 5, 20),
	(mt, margin-top, 0, 5, 50),
	(mr, margin-right, 0, 5, 50),
	(mb, margin-bottom, 0, 5, 50),
	(ml, margin-left, 0, 5, 50),
	(p, padding, 0, 5, 20),
	(pt, padding-top, 0, 5, 50),
	(pr, padding-right, 0, 5, 50),
	(pb, padding-bottom, 0, 5, 50),
	(pl, padding-left, 0, 5, 50);

// 
// Fixed width classes
// 
.f200,
.tablet-f200,
.mobile-grid-f200 {
	display: inline-block;
}

.f200 {
	width: 200px;
}
.f960 {
	margin: 0px auto;
	width: 960px;
}
.f1075 {
	margin: 0 auto;
	width: 1075px;
}

@media screen and (min-width: $media-tablet-min) and (max-width: $media-tablet-max) {
	.tablet-f200 {
		width: 200px;
	}
	.tablet-f960 {
		margin: 0px auto;
		width: 960px;
	}
}

@media screen and (max-width: $media-mobile-max) {
	.mobile-f200 {
		width: 200px;
	}
	.mobile-f960 {
		margin: 0px auto;
		width: 960px;
	}
}

// 
// Margin classes
// 

@each $val in $spacing-classes {
	$class: nth($val, 1);
	$tag: nth($val, 2);
	$start: nth($val, 3);
	$increment: nth($val, 4);
	$stop: nth($val, 5);
	$i: $start;

	@while $i <= $stop {
		.#{$class}-#{$i} {
			#{$tag}: #{$i}px;
		}

		$i: $i + $increment;	
	}
}

// 
// Padding Classes
// 



// 
// Max width classes.
// 
.max-100 {
	max-width: 100%;
}

// 
// Screen reader classes.
// 
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

// 
// Alignment classes
// 
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote.alignleft,
figure.wp-caption.alignleft,
img.alignleft {
	margin: 7px 24px 7px 0;
}

.wp-caption.alignleft {
	margin: 7px 14px 7px 0;
}

blockquote.alignright,
figure.wp-caption.alignright,
img.alignright {
	margin: 7px 0 7px 24px;
}

.wp-caption.alignright {
	margin: 7px 0 7px 14px;
}

blockquote.aligncenter,
img.aligncenter,
.wp-caption.aligncenter {
	margin-top: 7px;
	margin-bottom: 7px;
}

.site-content blockquote.alignleft,
.site-content blockquote.alignright {
	padding-top: 17px;
	width: 50%;
}

.sectionGroup blockquote.alignleft p,
.sectionGroup blockquote.alignright p {
	margin-bottom: 17px;
}

