/*
 * Some stylish classes
 */

@media screen and (max-width: $media-mobile-max) {
	.mobile-br0 {
		border: none;
	}
}

@media screen and (min-width: $media-tablet-min) and (max-width: $media-tablet-max) {
	.tablet-br1 {
		border-right: 1px solid #CCC;
	}
}

@media screen and (min-width: $media-desktop-min) {
	.br1 {
		border-right: 1px solid #CCC;
	}
}