/* 
 * Table layout.
 */

table {
	border: 0px none;
}
tr {
	border-bottom: 1px solid darken($content-background, 30%);
}
tr:last-child {
	border-bottom: 0px none;
}
tr:nth-child(odd) {
	background-color: $content-background;
}
tr:nth-child(even) {
	background-color: darken($content-background, 10%);
}
 th,td {
 	border: 0px none;
 	padding: 4px 8px;
 }
