// 960 Grid System ~ Text CSS.
// Learn more ~ http://960.gs/
//
// Licensed under GPL and MIT.

// `Basic HTML
//----------------------------------------------------------------------------------------------------

body {
	color: $text-color;
	font: 13px / 1.5 $font-stack;
}

pre,
code {
	font-family: "DejaVu Sans Mono", Monaco, Consolas, monospace;
}

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

small {
	font-size: 90%;
}

// `Headings
//----------------------------------------------------------------------------------------------------

h1 {
	color: $h1-color;
	font-size: 25px;
}

h2 {
	color: $h2-color;
	font-size: 23px;
}

h3 {
	color: $h3-color;
	font-size: 21px;
}

h4 {
	color: $h4-color;
	font-size: 19px;
}

h5 {
	color: $h5-color;
	font-size: 17px;
}

h6 {
	color: $h6-color;
	font-size: 15px;
}

// `Spacing
//----------------------------------------------------------------------------------------------------

ol {
	list-style: decimal;
	padding: 0px;
	ol {
		list-style: lower-alpha;
	}
}

ul {
	list-style: disc;
	padding: 0px;

	ul {
		list-style: circle;
		margin: 0px 0px 6px;
	}
}

li {
	margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
	margin-bottom: 15px;
}

//  `Links
//----------------------------------------------------------------------------------------------------

a {
	color: $link;
	text-decoration: none;

	&:visited {
		color: $link;
	}
	&:hover {
		color: $link-focus;
		text-decoration: underline;
	}
}
