@font-face{
	font-family: 'Univers LT';
	src:url("../fonts/b5c30ea8-0700-4fd2-aa12-cc45074693a9.eot?#iefix");
	src:url("../fonts/b5c30ea8-0700-4fd2-aa12-cc45074693a9.eot?#iefix") format("eot"),
		url("../fonts/7b95cb9a-a288-4405-97a0-13095f56a903.woff") format("woff"),
		url("../fonts/c7481806-4ea4-40db-a623-7bc352bbbe43.ttf") format("truetype"),
		url("../fonts/ac8280da-3de5-456d-bd77-8f01665452a9.svg#ac8280da-3de5-456d-bd77-8f01665452a9") format("svg");

	font-style:   normal;
	font-weight:  normal;
}
@font-face{
	font-family: 'Univers LT';
	src:url("../fonts/783e01cd-5eb8-41d7-a380-a18673f2983b.eot?#iefix");
	src:url("../fonts/783e01cd-5eb8-41d7-a380-a18673f2983b.eot?#iefix") format("eot"),
		url("../fonts/90c17e08-290d-4eba-ab33-77c81c1f559d.woff") format("woff"),
		url("../fonts/d93b9eab-632d-4aaf-b7fa-5c17060d62fc.ttf") format("truetype"),
		url("../fonts/caa7a31a-310f-4020-8311-89816a31472f.svg#caa7a31a-310f-4020-8311-89816a31472f") format("svg");

	font-style: italic;
	font-weight: normal;
}
@font-face{
	font-family: 'Univers LT';
	src: url("../fonts/db1c462f-8890-4a11-9de5-36872279e20a.eot?#iefix");
	src: url("../fonts/db1c462f-8890-4a11-9de5-36872279e20a.eot?#iefix") format("eot"),
		url("../fonts/9178e351-95c5-4913-9eeb-fd0645a18c2d.svg#9178e351-95c5-4913-9eeb-fd0645a18c2d") format("svg"),
		url("../fonts/b993da84-c1f6-474a-8f00-8aa797b3de8f.woff") format("woff"),
		url("../fonts/58403ef6-4c15-4280-b4b6-9acf50804f4f.ttf") format("truetype");
	 font-style:   normal;
	font-weight:  bold;
}
@font-face{
	font-family: 'Univers LT';
	src:url("../fonts/1e70cef5-4838-4826-a99f-e182b86fe21d.eot?#iefix");
	src:url("../fonts/1e70cef5-4838-4826-a99f-e182b86fe21d.eot?#iefix") format("eot"),
		url("../fonts/6d63e0ba-5ef0-4803-9fbe-686603f3771d.svg#6d63e0ba-5ef0-4803-9fbe-686603f3771d") format("svg"),
		url("../fonts/322d336b-2d02-42f6-a24f-200c98b82a7c.woff") format("woff"),
		url("../fonts/32ed3859-e789-4a3f-96fd-b67231f1929f.ttf") format("truetype");

	font-style: italic;
	font-weight: bold;
}
@font-face{
	font-family: 'Univers LT Black';
	src:url("../fonts/8ad2e453-ea69-411d-b93b-1fa328724687.eot?#iefix");
	src:url("../fonts/8ad2e453-ea69-411d-b93b-1fa328724687.eot?#iefix") format("eot"),
		url("../fonts/b23ec90b-9f99-46a0-85f7-d1e820dbf851.woff") format("woff"),
		url("../fonts/249aeedc-8e38-41c9-874e-bba9a33fd5e4.ttf") format("truetype"),
		url("../fonts/67e5d6e8-25e6-4556-99f8-ced41b2b7aae.svg#67e5d6e8-25e6-4556-99f8-ced41b2b7aae") format("svg");

	font-style:   normal;
	font-weight:  normal;
}
@font-face{
	font-family: 'Univers LT Condensed';
	src:url("../fonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot?#iefix");
	src:url("../fonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot?#iefix") format("eot"),
		url("../fonts/0abcce12-2274-4ee7-b6d5-0066b5f5f670.svg#0abcce12-2274-4ee7-b6d5-0066b5f5f670") format("svg"),
		url("../fonts/1eaf27c0-f4de-4273-9f4c-1b3236ad2f3c.woff") format("woff"),
		url("../fonts/9b913baf-b1f0-47d2-8c76-42f59650058f.ttf") format("truetype");

	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: 'Univers LT Condensed';
	src:url("../fonts/6fc47523-fa84-47de-b974-533db32eacd8.eot?#iefix");
	src:url("../fonts/6fc47523-fa84-47de-b974-533db32eacd8.eot?#iefix") format("eot"),url("Fonts/34e6ea2e-62b2-49c9-b5e6-128fddfd9f6c.woff") format("woff"),url("Fonts/01a871ba-586f-4d5e-8924-d4ec3b44f723.ttf") format("truetype"),url("Fonts/5ebb44ef-5450-4b20-9612-66b2a127178b.svg#5ebb44ef-5450-4b20-9612-66b2a127178b") format("svg");
	
	font-style: italic;
	font-weight: normal;
}
@font-face{
	font-family: 'Univers LT Condensed';
	src:url("../fonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot?#iefix");
	src:url("../fonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot?#iefix") format("eot"),
		url("../fonts/827d22bc-e38b-4ccf-8a21-1f9aaa76e402.svg#827d22bc-e38b-4ccf-8a21-1f9aaa76e402") format("svg"),
		url("../fonts/21decb60-b395-4de2-bd04-e38eb2a56d2f.woff") format("woff"),
		url("../fonts/091058d4-36b2-43f6-80d3-16c88e098061.ttf") format("truetype");

	font-style:   normal;
	font-weight:  bold;
}