/*
 * Default variable values.
 */


/*
 * Core variables
 */

$text-color: #000 !default;
$base-color: #f3f3f3 !default;
$icon-color: hsl( hue( $base-color ), 7%, 95% ) !default;
$highlight-color: #0074a2 !default;
$notification-color: #d54e21 !default;
$action-color: $highlight-color !default;

/*
 * Global vars
 */

$body-background: $base-color !default;

$font-stack: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif !default;

$link: #0074a2 !default;
$link-focus: lighten( $link, 20% ) !default;

$input-bgc: desaturate(lighten($action-color, 63%), 32%) !default;
$input-color: #000 !default;
$input-border: desaturate(darken($input-bgc, 10%), 40%) !default;

$input-action-bgc: $action-color !default;
$input-color-action: #fff !default;
$input-action-border: desaturate(darken($input-action-bgc, 10%), 40%) !default;

$form-checked: $highlight-color !default;

$h1-color: $highlight-color !default;
$h2-color: $h1-color !default;
$h3-color: $h2-color !default;
$h4-color: $h3-color !default;
$h5-color: $h4-color !default;
$h6-color: $h5-color !default;


/*
 * Menu Colors
 */

$menu-text: $text-color !default;
$menu-icon: $icon-color !default;
$menu-background: $base-color !default;

$menu-highlight-text: $text-color !default;
$menu-highlight-icon: $text-color !default;
$menu-highlight-background: $content-background !default;

$menu-current-text: $menu-highlight-text !default;
$menu-current-icon: $menu-highlight-icon !default;
$menu-current-background: $menu-highlight-background !default;

$menu-submenu-text: $menu-current-text !default;
$menu-submenu-background: $menu-current-background !default;

/*
 * Content specific colors.
 */

$header-background: lighten($body-background, 10%) !default;
$content-background: darken($body-background, 10%) !default;