
/* 
 * Our font stacks.
 */
$fontStack: 'Univers LT', sans-serif;
$fontStackSec: 'Univers LT Condensed', 'Helvetica Neue', sans-serif;
$fontStackThird: 'Univers LT Black', 'Ariel Black', sans-serif;

/*
 * Our Colors.
 */

$body-background: #e8e7e9;
$header-background: #f5f5f5;
$content-background: #ffffff;

$text-color: #000;
$highlight-color: #000;
$action-color: #512e80;

$menu-background: darken($header-background, 10%);

$link: #512e80;

$h1-color: #3e3e3e;
$h4-color: $text-color;

$input-border: #CCC;
$input-action-bgc: $link;

/*
 * Get the defaults.
 */
@import "var-defaults";