/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// Grid settings
$unsemantic-ie7-support: false;
$media-mobile-max: 767px;
$media-tablet-min: 768px;
$media-tablet-max: 1024px;
$media-desktop-min: 1025px;

// Compass styles
@import "compass";

// Normalize the styles.
@import "normalize";

// Our custom layout stuff.
@import "layout";

// Get our unsemantic grid config.
@import "unsemantic/_unsemantic-grid-responsive-tablet.scss";

// Get our custom font.
@import "univers-lt";

// Get our variables.
@import "variables";

// Our custom text styling.
@import "text";

@import "table";

// Some general use classes.
@import "classes";

// Some style class.
@import "style.scss";

// Dropdown menu styles.
@import "dropdown";

// The alert icons set.
@import "alert-icons";

// Our custom form styling.
@import "form";


/*
 * Miscellaneous styling.
 */

body {
	background: $body-background;
}

#headerContainer,
#primaryMenuContainer {
	background: $header-background;
}
a.site-title {
	@extend h1;
	display: block;
	margin: 16px 0px;
}
a.site-title img {
	max-width: 100%;
}


.sectionGroup {
	background: $content-background;
	border-color: $highlight-color;
	border-style: solid;
	border-width: 2px 0px;
	position: relative;
	// z-index: 90;
}

.shadowCover {
	background: $content-background;
	height: 10px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 110;
}

section {
	border-top: 1px solid #ccc;
	margin-top: 30px;
	padding-bottom: 19px;

	&:first-child,
	&.first-row {
		border-top: 0px;
		margin-top: 0px;
	}

	blockquote.alignleft,
	blockquote.alignright {
		border-top: 1px solid $highlight-color;
		border-bottom: 1px solid $highlight-color;
	}
}
.section {
	@extend section;
}

.footer {

	.tabbed {

		li::before {
			content: "•";
		}
		li:first-child::before {
			content: "";
		}

		li.current-menu-item a {
			font-weight: bold;
		}
	}

	@media screen and (max-width: $media-mobile-max) {

		.mobile-plain-list {
			margin-top: 5px;
			
			li {
				list-style: disc inside none;
			}
			li::before {
				content: "";
			}
		}

	}

	.footertext {
		display: none;
	}
}

#statusDiv {
	p {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.question {

	&:first-child {
		.h3 {
			margin-top: 0;
		}
	}
}

@import "ie";
